<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.kuro.recruit">
    <!-- 开启网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- usesCleartextTraffic: true  ->>> 允许明文请求 -->
    <application
        android:name=".base.BaseApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recruit"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- OPPO、VIVO 刘海屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 小米 刘海屏适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>